%tr
  %td= layer.name
  %td.span2= layer.slug
  %td.span2= layer.data_type
  %td.span2
    = link_to 'Edit', edit_admin_layer_path(layer), class: 'btn'
    = link_to 'Delete', [:admin, layer], :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'