#map-form.row
  .span12
    - map.errors.full_messages.each do |msg|
      .alert.alert-error= msg

    = form_for map, html: { class: 'form-horizontal' } do |f|
      %fieldset
        .control-group  
          = f.label :title, class: 'control-label'
          .controls
            = f.text_field :title
        .control-group      
          = f.label :slug, class: 'control-label'
          .controls
            = f.text_field :slug
        .control-group      
          = f.label :projection, class: 'control-label'
          .controls
            = f.select :projection, [['Alaskan Albers', 'EPSG:3338'], ['Alaska Polar','EPSG:3572'], ['Web Mercator', 'EPSG:3857']]
        .control-group      
          = f.label :active, class: 'control-label'
          .controls
            = f.select :active, [true, false]
      .form-actions
        .pull-right
          = f.submit class: 'btn btn-primary'
    -unless map.new_record?
      #layers.form-horizontal
        = render 'layers', map: map
