#map
#map-tools
  = link_to '#', :id => 'map-identify', :class => 'btn btn-small btn-primary', 'data-toggle'=>"button", :rel => 'tooltip', :title => 'Identify' do
    %i.icon-info-sign.icon-white
#map-messages.row
#map-legends
  .accordion-group
    .accordion-heading
      = link_to 'Map Info', '#map-legend-items', :class => 'accordion-toggle', "data-toggle" => "collapse", "data-parent" => "#map-legends"
    #map-legend-items.accordion-body.in.collapse
      .accordion-inner
        %h3
          = active_map.title
          Legend      
        - active_map.layers.each do |layer|
          %div.form-inline{id: "layer-legend-#{layer.slug}"}        
            = render 'legend', layer: layer
            = render 'filter', layer: layer
:javascript
  #{yield :styles_javascript}            
  $(document).ready(function() {
    uber = new UberMap();
    uber.init('#{active_map.projection}');    
    #{ load_all_map_layers(active_map) }
  });
  $(document).on('click', '.style-checkbox input', function(e) {
    var name = $(e.target).val();
    var checked = $(e.target).attr('checked');
    var layers = uber.map.getLayersByName(name);
    layers[0].setVisibility(checked);
  }); 
  $('#map-tools a').tooltip({ placement: 'bottom' }); 
  
