#map
#map-legends
  .accordion-group
    .accordion-heading
      = link_to 'Map Info', '#map-buttons', :class => 'accordion-toggle', "data-toggle" => "collapse", "data-parent" => "#map-legends"
    #map-buttons.accordion-body.in.collapse
      .accordion-inner
        - active_map.layers.each do |layer|
          %div{id: "layer-legend-#{layer.slug}"}        
            = render 'legend', layer: layer
            = render 'filter', layer: layer
:javascript
  #{yield :styles_javascript}            
  $(document).ready(function() {
    uber = new UberMap();
    uber.init('#{active_map.projection}');
    #{ load_all_map_layers(active_map) }
  });
  
