.control-group.span4
  = f.label :type, 'Type', class: 'control-label'
  .controls
    = f.select :type, [['None', ''], ['Opacity Slider', 'opacityslider'], ['Slider','slider'], ['Date Range', 'dateslider']], {}, class: 'span2'        
.control-group.span4
  = f.label :field, 'Field', class: 'control-label'
  .controls
    = f.text_field :field, class: 'span2'
.control-group.span4
  = f.label :display_field, 'Display Field', class: 'control-label'
  .controls
    = f.text_field :display_field, class: 'span2'
