%tr
  %td= layer.slug
  %td= layer.name
  %td= layer.data_type
  %td
    = link_to 'Edit', edit_layer_path(layer), class: 'btn btn-primary'
    = link_to 'Delete', layer, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'