.legend{id: "layer-legend-#{layer.slug}"}
  .spinner{style:"float:right; margin-top: 10px;"}
  %h3= layer.name
  %table.rules
    %tbody
      - if layer.rules
        = render partial: 'layers/rule', collection: layer.rules
      - else
        = render 'layers/style', style: layer.style
  :javascript
    #{yield :styles_javascript}
    