%tr
  %td.rule-icon{id: "rule-icon-#{rule.id}", style: "width: 24px; height: 24px;"}
  %td 
    = "#{rule.field.humanize} #{handler_text(rule.handler)} #{rule.values}"
    = stored_rule_javascript("rule-icon-#{rule.id}", rule)