#header
  .navbar.navbar-static-top.navbar-inverse
    .navbar-inner
      .logo.pull-left
        = image_tag asset_path('earth-green.png')
      = link_to '/', :class=>'brand' do
        = active_map.try(:title)
      %ul.nav.pull-right
        %li.dropdown
          = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
            = "Viewing: #{active_map.title}"
            %b.caret
          %ul.dropdown-menu
            - site_maps.each do |sm|
              - next unless sm.active? or current_user.admin?
              %li
                = link_to "http://#{sm.url}" do
                  = sm.title
                  = "(Disabled)" unless sm.active?
        %li.dropdown.avatar
          = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
            =  image_tag avatar_url(current_user, 30)
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Login', login_path if current_user.nil?
            %li= link_to 'Logout', logout_path unless current_user.nil?
            %li= link_to 'Admin', admin_path if current_user.try(:admin?)