!!!5
%html
  %head
    %title Ubermap
    = stylesheet_link_tag    "admin", :media => "all"
    = javascript_include_tag "admin"
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .navbar.navbar-static-top
      .navbar-inner
        .container-fluid
          %ul.nav.nav-pills
            %li= link_to 'New Map', new_map_path
            %li= link_to 'View Map', active_map.try(:url)
            %li= link_to 'Map Settings', edit_map_path(active_map) unless active_map.nil?
            %li{ class: current_page?(layers_path) ? 'active' : '' }= link_to 'Layers', layers_path
    
    #content.container
      = flash_messages
      = yield
