!!!5
%html
  %head
    %title Ubermap
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "http://glink.gina.alaska.edu/cdn/libs/OpenLayers-2.12/OpenLayers.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = yield
