!!!5
%html
  %head
    %title Ubermap
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "shortcut icon", href: "#{asset_path('earth-small.png')}"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "http://glink.gina.alaska.edu/cdn/libs/OpenLayers-2.12/OpenLayers.js", "application"
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = yield
